@charset "utf-8"; 
body{
	background-color:#eee;
}

#main{
	width:960px;
	margin:0 auto 20px;
}
#iphone{
	width:425px;
	height:834px;
	background:url(images/iphone_bg.png) no-repeat;
	margin:0 auto;
	position:relative;
}
#iphoneHome{
	position:absolute;
	height:70px;
	width:70px;
	bottom:145px;
	left:179px;
	cursor:pointer;
}
#iphoneWindow{
	position:relative;
	width:320px;
	height:481px;
	left:54px;
	top:119px;
	overflow:hidden;
}
.iphoneBg1{
	background:url(images/iphoneBg1.jpg) no-repeat center center;
}
.iphoneBg2{
	background:url(images/iphoneBg2.jpg) no-repeat center center;
}
.iphoneBg3{
	background:url(images/iphoneBg3.jpg) no-repeat center center;
}
.iphoneBg4{
	background:url(images/iphoneBg4.jpg) no-repeat center center;
}
.iphoneBg5{
	background:url(images/iphoneBg5.jpg) no-repeat center center;
}
#iphone3GLock{
	width:100%;
	height:20px;
	line-height:20px;
	background:url(images/iphone_3G_locked.png) no-repeat;
	text-align:center;
}
#iphone3G{
	width:100%;
	height:20px;
	line-height:20px;
	background:url(images/iphone_3G.gif) no-repeat;
	text-align:center;
}
	#iphone3G #iphoneTime{
		font-weight:bolder;
	}

#iphoneTitleLock{
	width:100%;
	height:97px;
	background:url(images/iphone_locked_timeshow.png) no-repeat;
	text-align:center;
	position:relative;
}
#iphoneTitleLockTime1,#iphoneTitleLockTime2{
	line-height:1;
}
#iphoneTitleLockTime1{
	font-family:Arial;
	font-size:52px;
	padding:8px 0 10px 0;
}
#iphoneTitleLockTime2{
	font:bolder 14px georgia;
}

#iphoneTitle{
	width:100%;
	height:44px;
	background:url(images/iphone_title.gif) no-repeat;
	text-align:center;
	line-height:44px;
	position:relative;
}
	#iphoneTitleBack,#iphoneTitleNext{
		height:30px;
		width:63px;
		display:block;
		position:absolute;
		text-indent:-9999px;
		overflow:hidden;
		top:6.5px;
		outline:none;
	}
	#iphoneTitleBack{
		left:8px;
		background:url(images/iphone_back_bt.png) no-repeat;
	}
	#iphoneTitleNext{
		right:8px;
		background:url(images/iphone_next_bt.png) no-repeat;
	}
	#iphoneTitle h1{
		color:#fff;
	}

#iphoneMain{
	height:416px;
	overflow:hidden;
}
/*
 * iphone弹出的对话框
 */
#iphoneAlertWindow{
	width:281px;
	height:136px;
	background:url(images/iphone_alert.png) no-repeat;
	left:50%;
	margin-left:-140px;
	top:180px;
	position:absolute;
	z-index:9999;
}
	#iphoneAlertWindowCancel,#iphoneAlertWindowOk{
		display:block;
		text-indent:-9999px;
		overflow:hidden;
		width:126px;
		height:40px;
		position:absolute;
		top:81px;
		outline:none;
	}
	#iphoneAlertWindowCancel{
		left:10px;
	}
	#iphoneAlertWindowOk{
		left:145px;	
	}
	#iphoneAlertWindowMain{
		height:75px;
		overflow:hidden;
		text-align:center;
	}

/*
 * =lightbox
 */
#iphoneLightbox{
	position:absolute;
	width:320px;
	height:481px;
	left:0;
	top:0;
	overflow:hidden;
	background:#000;
	opacity:0;
	z-index:8888;
}

/*
 * =iphoneImageShow
 * 图片展示
 */
#iphoneImageShow{
	display:block;
	position:absolute;
	width:320px;
	height:481px;
	left:0;
	top:0;
	z-index:8889;
}
#iphoneImageShowSetBg {
	bottom:3px;
	color:#aaa;
	position:absolute;
	right:3px;
	text-shadow:0 -1px 0 #000;
}
#iphoneImageShowLoading{
	background-color:#fff;
	position:absolute;
	left:50%;
	top:0;
	margin-left:-10px;
}
#iphoneImageShowToLeft,#iphoneImageShowToRight{
	position:absolute;
	z-index:8890;
	width:158px;
	height:440px;
	top:0;
}
	#iphoneImageShowToLeft{
		left:0;
		cursor:url(images/iphone_award_toleft.png),auto;
	}
	#iphoneImageShowToRight{
		right:0;
		cursor:url(images/iphone_award_toright.png),auto;
	}
#iphoneImageShowClose{
	position:absolute;
	bottom:-10px;
	left:50%;
	margin-left:-31px;
	width:63px;
	height:38px;
	background:url(images/iphone_closebt.png) no-repeat;
	cursor:pointer;
}
#iphoneImageShowClose:hover{
	bottom:-7px;
}
#iphoneImageShowImageWrap{
	width:264px;
	margin:10% auto 0;
}
#iphoneImageShow img{
	background-color:#000;
	display:block;
	width:260px;
	padding:1px;
	border:1px solid #888;
}
/*
 * 滑动解锁
 */
#iphoneSlide{
	position:absolute;
	width:100%;
	height:96px;
	background:url(images/iphone_slide.png) no-repeat;
	bottom:0;
	z-index:9999;
}
	#iphoneSlideBt{
		position:absolute;
		height:44px;
		width:68px;
		background:url(images/iphone_slide_bt.png) no-repeat;
		text-indent:-9999px;
		overflow:hidden;
		cursor:move;
		left:24px;
		top:26px;
	}

/*
 * 主题内容列表
 */
#iphoneMainIn{
	width:6200px;
}
#iphoneMain .block{
	width:300px;
	margin-right:10px;
	float:left;
}

.iphone-list{
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	
	box-shadow:0 0 5px #000;
	-moz-box-shadow:0 0 5px #000;
	-webkit-box-shadow:0 0 5px #000;
	-khtml-box-shadow:0 0 5px #000;
	
	background:#8094AE;
	border:1px solid #222;
	margin-bottom:10px;
	overflow:hidden;
	padding:3px;
}
.iphone-list>li{
	clear:both;
	overflow:hidden;
	border-top:0 none;
	background-color:#fff;
	padding:8px;
	cursor:pointer;
}
.iphone-list>li h3{
	font-size:16px;
	line-height:30px;
}
.iphone-list>li:hover{
	color:#400080;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#eae8f4), to(#c7c4d6));
	background: -moz-linear-gradient(top, #eae8f4, #c7c4d6);
}
.iphone-list>li:active{
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#c7c4d6), to(#eae8f4));
	background: -moz-linear-gradient(top, #c7c4d6, #eae8f4);
}
.iphone-list>li:hover h3,.iphone-list>li:hover h4{
	background:url(images/iphone_mini_arrow.png) no-repeat right center;
}
.iphone-list>li:hover h3.loading,.iphone-list>li h3.loading,.iphone-list>li:hover h4.loading,.iphone-list>li h4.loading{
	background:url(images/loading.gif) no-repeat right center;
}
.iphone-list-noMiniArrow>li:hover h3,.iphone-list-noMiniArrow>li:hover h4{
	background:none;
}
.iphone-list-noMiniArrow>li:hover{
	cursor:default;
	background-color:#fff;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#fff));
	background: -moz-linear-gradient(top, #fff, #fff);
	color:#000;
}
#iphoneMain .iphone-list>li.one{
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-khtml-border-radius:3px;
}
.iphone-list>li:first-child{
	border-radius:3px 3px 0 0;
	-moz-border-radius:3px 3px 0 0;
	-webkit-border-radius:3px 3px 0 0;
	-khtml-border-radius:3px 3px 0 0;
}
.iphone-list>li:last-child{
	border-radius:0 0 3px 3px;
	-moz-border-radius:0 0 3px 3px;
	-webkit-border-radius:0 0 3px 3px;
	-khtml-border-radius:0 0 3px 3px;
}

.iphone-list .icons{
	float:left;
	width:29px;
	height:30px;
	background:url(images/iphone_icons1.png) no-repeat;
	margin-right:5px;
}
.iphone-list .icon1{
	background-position:0 0;
}
.iphone-list .icon2{
	background-position:-29px 0;
}
.iphone-list .icon3{
	background-position:-58px 0;
}
.iphone-list .icon4{
	background-position:-87px 0;
}
.iphone-list .icon5{
	background-position:-116px 0;
}
.iphone-list .icon6{
	background-position:-145px 0;
}
.iphone-list .mini-arrow{
	float:right;
	width:9px;
	height:13px;
	background:url(images/iphone_mini_arrow.png) no-repeat;
}

.iphone-list img.face{
	float:left;
	padding:1px;
	border:1px solid #ccc;
	width:30px;
	height:30px;
	margin-right:10px;
}
.iphone-list li.one img.face{
	width:40px;
	height:40px;
}
/*
 * =voice
 */
#voiceChange{
	position:relative;
	height:25px;
	width:270px;
}
#voiceChangeLine,#voiceChangeLineHover{
	position:absolute;
	top:7px;
	height:10px;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-html-border-radius:10px;
}
#voiceChangeLine{
	width:270px;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#b2b2b2), to(#efefef));
	background: -moz-linear-gradient(top, #b2b2b2, #eee);
}
#voiceChangeLineHover{
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#1F487C), to(#5792D1));
	background: -moz-linear-gradient(top, #1F487C, #5792D1);
}
#voiceChangeBt{
	top:0;
	position:absolute;
	width:24px;
	height:25px;
	cursor:move;
	overflow:hidden;
	background:url(images/iphone_slider_bt.png) no-repeat;
}
