@charset "utf-8";
.p-calendar *{
	padding:0;
	margin:0;
}
.p-calendar{
	border:1px solid #000000;
	padding:10px;
	box-shadow:0 5px 20px #000;
	border-radius:2px;
	position:absolute;
	z-index:9999;
	font:12px/1.5 Tahoma,Arial,Helvetica,sans-serif;
	color:#000;
	background-color:#2B2B30;
}
.p-calendar table{
	border-collapse:collapse;
	border-spacing:0;
}

/*==============================================
 * .p-calendar caption
 ============================================*/
.p-calendar caption{
	text-align:center;
	padding:0 0 4px 0;
}
.p-calendar caption ul,.p-calendar caption li{
	list-style:none;
}
.p-calendar .p-calendar-months,.p-calendar .p-calendar-years{
	box-shadow:0 5px 10px #000;
	position:absolute;
	left:62px;
	top:-1px;
	width:30px;
	padding:1px;
	border:1px solid #111;
	background-color:#34343B;
	border-radius:2px;
}
.p-calendar .p-calendar-years{
	left:95px;
	width:35px;
}

.p-calendar .p-calendar-months li,.p-calendar .p-calendar-years li{}
.p-calendar .p-calendar-months li a,.p-calendar .p-calendar-years li a{
	display:block;
	text-align:center;
	text-decoration:none;
	color:#E8E8E8;
	text-shadow:0 1px 0 #27272C;
}
.p-calendar .p-calendar-months li a.current,.p-calendar .p-calendar-years li a.current{
	background-color:#25252c;
	box-shadow:0 0 3px #111 inset;
	box-shadow:none;
}
.p-calendar .p-calendar-months li a:hover,.p-calendar .p-calendar-years li a:hover{
	background-color:#256088;
}
.p-calendar .p-calendar-prev,.p-calendar .p-calendar-next{
	text-decoration:none;
	position:absolute;
	top:10px;
	cursor:pointer;
	width:20px;
	height:20px;
	text-align:center;
	color:#E8E8E8;
	text-shadow:0 1px 0 #000;
	border-radius:2px;
}
.p-calendar .p-calendar-prev{left:10px;}
.p-calendar .p-calendar-next{right:10px;}
.p-calendar caption a:hover{
	background-color:#3F3F46;
	text-decoration:none;
}
.p-calendar caption span{
	margin:0 6px;
	line-height:21px;
	cursor:pointer;
	border-bottom:1px dotted #aaa;
	color:#E8E8E8;
	text-shadow:0 1px 0 #000;
}
.p-calendar caption span:hover{
	color:#acacff;
}
/*==============================================
 * .p-calendar thead
 ============================================*/
.p-calendar thead{}
.p-calendar th{
	font-weight:bolder;
	color:#E8E8E8;
	text-shadow:0 1px 0 #000;
	text-align:center;
}
/*==============================================
 * .p-calendar tbody
 ============================================*/
.p-calendar td{
	border:1px solid #202024;
	width:24px;
	height:24px;
	background:#34343B;
}
.p-calendar td a{
	width:22px;
	height:22px;
	line-height:22px;
	overflow:hidden;
	display:block;
	cursor:pointer;
	text-align:center;
	text-decoration:none;
	color:#E8E8E8;
	font-weight:bolder;
	background-color:#3F3F46;
	text-shadow:0 1px 0 #27272C;
	border:1px solid #45454C;
}
.p-calendar td a:hover{
	background-color:#313137;
	color:#fff;
	box-shadow:0 0 3px #111 inset;  
	text-decoration:none;
}
.p-calendar td.p-calendar-today a{
	text-decoration:underline;
}
.p-calendar td.p-calendar-today a:hover{
	text-shadow:none;
	text-decoration:underline;
}
/*用户当前选择的日期*/
.p-calendar td.p-calendar-current a,.p-calendar td.p-calendar-current a:hover{
	background-color:#3A7FAD;
	box-shadow:0 0 2px #2C6286 inset;  
}

/*不能点击的日期*/
.p-calendar td.p-calendar-invalid a,.p-calendar td.p-calendar-invalid a:hover{
	cursor:default;
	box-shadow:none;
	background-color:#3F3F46;
	color:#777;
}

/*用户清除日期按钮*/
.p-calendar td.p-calendar-clear a,.p-calendar td.p-calendar-clear a:hover{
	background-color:#3AA26D;
	color:#FFF;
	text-shadow:0 -1px 0 #333;
	box-shadow:none;
}

